:root {
    font-family: 'Poppins', sans-serif;
    color-scheme: dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
}

button,
input,
textarea,
select {
    font: inherit;
}